In [1]:
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("DataSets/bank.csv")
df.sample(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
392,45,4,0,2,0,854,0,1,0,8,5,730,1,-1,0,3,1
6018,59,5,1,1,0,434,1,0,2,12,8,63,3,-1,0,3,0
8314,43,4,1,0,0,62,1,0,0,14,8,133,1,300,3,0,0
71,29,4,1,2,0,10576,0,0,2,15,8,1224,2,-1,0,3,1
10982,40,4,1,1,0,8486,0,0,2,6,8,260,3,-1,0,3,0

In [3]:
df.deposit.value_counts()

0    5873
1    5289
Name: deposit, dtype: int64

# Splitting

In [4]:
X = df.iloc[:,:-1]
X.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3

In [5]:
Y = df.deposit
Y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [6]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

# Bagging

In [15]:
from sklearn.ensemble import BaggingClassifier,RandomForestClassifier,VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [13]:
Bag = BaggingClassifier(LogisticRegression())
Bag.fit(X_train,Y_train)
Y_pred = Bag.predict(X_test)
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.77      0.82      0.79      1760
           1       0.78      0.73      0.75      1589

    accuracy                           0.77      3349
   macro avg       0.78      0.77      0.77      3349
weighted avg       0.77      0.77      0.77      3349

# RANDOM FOREST

In [12]:
RFC = RandomForestClassifier()
RFC.fit(X_train,Y_train)
Y_pred = RFC.predict(X_test)
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.88      0.81      0.85      1760
           1       0.81      0.88      0.84      1589

    accuracy                           0.84      3349
   macro avg       0.84      0.85      0.84      3349
weighted avg       0.85      0.84      0.84      3349

# Voting Class / Multi Model

In [16]:
MODEL = [("Log",LogisticRegression()),("DTC",DecisionTreeClassifier())]

VC = VotingClassifier(MODEL)
VC.fit(X_train,Y_train)
Y_pred = VC.predict(X_test)
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.71      0.88      0.78      1760
           1       0.82      0.59      0.69      1589

    accuracy                           0.74      3349
   macro avg       0.76      0.74      0.74      3349
weighted avg       0.76      0.74      0.74      3349